body,
html {
    overflow-x: hidden;
}

body {
    background-color: #f1f1f1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

main {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

h1 {
    font-size: 3.4rem;
    text-align: center;
}

label {
    display: block;

    font-size: 1.6rem;
    font-weight: 300;

    margin-bottom: 3px;
}

.errors{
    font-size: 1.6rem;
}

input,
textarea,
select {
    padding: 10px 13px;
    margin-bottom: 15px;

    width: 100%;

    border: 1px solid #d4d9e3;

    font-weight: 200;
    font-size: 1.6em;
    color: #4d5060;
}